* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: lightgrey;
}
.headerHome {
  background-color: #ff0000;
  color: white;
  font-family: "VT323", monospace;
  text-align: center;
  padding: 10px;
}

.containerHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6vw;
}

.titleHero {
  font-family: "VT323", monospace;
  font-size: 2rem;
  text-align: center;
}

.search {
  width: 30vw;
  height: 6vh;
  padding: 10px;
  background: #efeeee;
  font-family: poppins;
  border: none;
  margin-top: 20px;
  outline: none;
}

.btnSearch {
  background-color: red;
  border: none;
  color: white;
  height: 6vh;
  width: 7vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  font-family: "VT323", monospace;
  text-align: center;
  margin-top: 5vh;
  font-size: 2rem;
}
.subTitle {
  font-family: "VT323", monospace;
  text-align: center;
  margin-top: 5vh;
  font-size: 1.5rem;
}
.textSearch {
  font-family: "VT323", monospace;
  text-align: center;
  margin-top: 5vh;
  font-size: 2rem;
}

.containerPokemon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerPokemon > h4 {
  font-family: "VT323", monospace;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .search {
    width: 40vw;
  }
}

@media (max-width: 568px) {
  .search {
    width: 60vw;
  }
  .btnSearch {
    width: 10vw;
  }
}

@media (max-width: 365px) {
  .search {
    width: 70vw;
  }
  .btnSearch {
    width: 20vw;
  }
}
