:root {
  --typography: "VT323", monospace;
  --color-primary: #ff0000;
  --color-secondary: #ffffff;
  --bg-color: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
main {
  flex-grow: 1;
}
.spinerContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.headerHome {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--typography);
  text-align: center;
  padding: 10px;
}

.containerHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6vw;
}

.titleHero {
  font-family: var(--typography);
  font-size: 2rem;
  text-align: center;
}

.search {
  width: 30vw;
  height: 6vh;
  padding: 10px;
  font-family: poppins;
  border: none;
  margin-top: 20px;
  outline: none;
}

.btnSearch {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-secondary);
  height: 6vh;
  cursor: pointer;
  width: 7vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  font-family: var(--typography);
  text-align: center;
  margin-top: 5vh;
  font-size: 2rem;
}
.subTitle {
  font-family: var(--typography);
  text-align: center;
  margin-top: 5vh;
  font-size: 1.5rem;
}
.textSearch {
  font-family: var(--typography);
  text-align: center;
  margin-top: 5vh;
  font-size: 2rem;
}

.containerPokemon {
  display: flex;
  align-items: center;
  width: 24vw;
  box-shadow: -1px 1px 11px 4px #a39e9e;
  margin: 20px;
  padding: 10px;
}

.containerPokemon > h4 {
  font-family: var(--typography);
  font-size: 1.5rem;
}

.spinner {
  background-color: var(--color-primary);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.listPokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  align-items: center;
  height: 10vh;
  font-family: var(--typography);
}

.btnFooter {
  background-color: var(--color-secondary);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .containerPokemon {
    width: 40vw;
  }
  .search {
    width: 40vw;
  }
}

@media (max-width: 568px) {
  footer {
    flex-direction: column;
    padding: 20px;
    height: 15vh;
  }
  .btnFooter {
    margin-top: 9px;
  }
  .containerPokemon {
    width: 70vw;
  }
  .search {
    width: 60vw;
  }
  .btnSearch {
    width: 10vw;
  }
}

@media (max-width: 365px) {
  .containerPokemon {
    width: 70vw;
  }
  .search {
    width: 70vw;
  }
  .btnSearch {
    width: 20vw;
  }
}
