* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: lightgrey;
}
.headerHome {
  background-color: #ff0000;
  color: white;
  font-family: "VT323", monospace;
  text-align: center;
  padding: 10px;
}

.containerHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6vw;
}

.titleHero {
  font-family: "VT323", monospace;
  font-size: 2rem;
  text-align: center;
}

.search {
  width: 30vw;
  height: 6vh;
  padding: 10px;
  background: #efeeee;
  font-family: poppins;
  border: none;
  margin-top: 20px;
  outline: none;
}

.btnSearch {
  background-color: red;
  border: none;
  color: white;
  height: 6vh;
  width: 7vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  font-family: "VT323", monospace;
  text-align: center;
  margin-top: 5vh;
  font-size: 2rem;
}
.subTitle {
  font-family: "VT323", monospace;
  text-align: center;
  margin-top: 5vh;
  font-size: 1.5rem;
}
.textSearch {
  font-family: "VT323", monospace;
  text-align: center;
  margin-top: 5vh;
  font-size: 2rem;
}

.containerPokemon {
  display: flex;
  align-items: center;
  width: 24vw;
  box-shadow: -1px 1px 11px 4px #a39e9e;
  margin: 20px;
  padding: 10px;
}

.containerPokemon > h4 {
  font-family: "VT323", monospace;
  font-size: 1.5rem;
}

.spinner {
  border: 4px solid rgba(255, 0, 0, 0.931);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.listPokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .containerPokemon {
    width: 40vw;
  }
  .search {
    width: 40vw;
  }
}

@media (max-width: 568px) {
  .containerPokemon {
    width: 70vw;
  }
  .search {
    width: 60vw;
  }
  .btnSearch {
    width: 10vw;
  }
}

@media (max-width: 365px) {
  .containerPokemon {
    width: 70vw;
  }
  .search {
    width: 70vw;
  }
  .btnSearch {
    width: 20vw;
  }
}
